.cardStyle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
  width: 60vw;
}

.submitArea {
  display: flex;
  justify-content: center;
}

.signUp {
   display: flex;
   justify-content: center;
}
