
<p>
    <mat-toolbar style="justify-content: space-between;">
        <span routerLink="/" style="cursor: pointer;">Recipe Book</span>
        <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="new-recipe">new recipe</button>
                <button mat-menu-item routerLink="auth">Sign In</button>
                <button mat-menu-item (click)="onSignOut()">Sign Out</button>
            </mat-menu>
        </button>
    </mat-toolbar>
</p>