.cardStyle {
    display: flex;
    flex-direction: column;
    width: 90vh;
    margin-left: 25%;
    margin-top: 5%;
    height: 60vh;
    justify-content: space-around;
}

.submitArea {
    display: flex;
    justify-content: center;
}

.switchBtn {
    max-width: 20vw;
    align-self: center;
}
