<!-- sign in card start -->
<form #f="ngForm" class="authCard">
    <mat-card *ngIf="signIn" class="cardStyle">
        <div class="mat-display-2 submitArea" style="margin-bottom: 2%; text-decoration: underline;">Sign In</div>
        <div class="submitArea">
            <mat-form-field appearance="fill" style="width: 30vw;">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="email@example.com" [formControl]="email" required #uEmail>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="submitArea">
            <mat-form-field appearance="fill" style="width: 30vw;">
                <mat-label>Enter your password</mat-label>
                <input [type]="hide ? 'password' : 'text'" matInput required [formControl]="password" #uPass>
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password.invalid">{{getPassErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="submitArea">
            <button type="submit" mat-raised-button color="primary" style="width: 20vw;" (click)="onSignIn(uEmail.value, uPass.value)" [disabled]="!f.valid"
                >Submit</button>
        </div>
        <button type="button" class="switchBtn" mat-button (click)="signIn = !signIn">Not already a member? Sign up!</button>
    </mat-card>
</form>
<!-- sign in card end -->

<!-- sign up card start -->
<form #f="ngForm" class="authCard">
    <mat-card *ngIf="!signIn" class="cardStyle">
        <div class="mat-display-2 submitArea" style="margin-bottom: 2%; text-decoration: underline;">Sign Up!</div>
        <div class="submitArea">
            <mat-form-field appearance="fill" style="width: 30vw;">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="email@example.com" [formControl]="email" required #uEmail>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="submitArea">
            <mat-form-field appearance="fill" style="width: 30vw;">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" minlength="8" required [formControl]="password"
                    #uPass>
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password.invalid">{{getPassErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <!-- Password confirmation not working, need to figure out
        custom validator and have the error state match FormControl -->
        <!-- <div class="submitArea">
            <mat-form-field appearance="fill" style="width: 30vw;">
                <mat-label>Confirm your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" required [formControl]="passwordConf" #uPassConf>
                <button mat-icon-button matSuffix (click)="hide = !hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="passwordConf">{{checkPassErrorMessage()}}</mat-error>
            </mat-form-field>
        </div> -->
        <div class="submitArea">
            <button type="submit" mat-raised-button color="primary" style="width: 20vw;" (click)="onSignUp(uEmail.value, uPass.value)">Submit</button>
        </div>
        <button type="button" class="switchBtn" mat-button (click)="signIn = !signIn">Not already a member? Sign up!</button>
    </mat-card>
</form>
<!-- sign up card end -->