<!-- New recipe card start -->
<form
  #f="ngForm"
  (ngSubmit)="onSubmit(f)"
  style="display: flex; justify-content: center"
>
  <mat-card class="cardStyle">
    <!-- card title start -->
    <div>
      <mat-card-title class="title">Create Your New Recipe!</mat-card-title>
      <br />
      <mat-divider></mat-divider>
    </div>
    <!-- card title end -->

    <!-- card content start -->
    <div class="cardContent">
      <div class="recipeName center">
        <mat-form-field appearance="outline" style="width: 60vw">
          <mat-label>Recipe Name</mat-label>
          <input
            matInput
            placeholder="Recipe Name"
            ngModel
            #recipeName
            ngModel
            name="recipeName"
          />
        </mat-form-field>
      </div>
      <!-- card ingredient field start -->

      <div class="center">
        <mat-accordion class="ingredientList">
          <mat-expansion-panel>
            <mat-expansion-panel-header style="background-color: white">
              <mat-panel-title class="center"> Ingredients </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <div>
              <br />
              <mat-panel-title class="center">
                Add your ingredient's names here!
              </mat-panel-title>
              <br />
              <div class="center ingField" style="align-items: flex-start">
                <mat-form-field appearance="fill">
                  <input
                    type="text"
                    matInput
                    ngModel
                    name="ingredientNames"
                    placeholder="Name"
                  />
                </mat-form-field>

                <!-- ingredient amount here -->
                <div class="ingredientAmt">
                  <div class="amount">
                    <mat-form-field appearance="fill">
                      <input
                        type="text"
                        matInput
                        ngModel
                        name="ingredientAmt"
                        placeholder="Amount"
                      />
                    </mat-form-field>
                  </div>
                  <div class="measurement">
                    <mat-form-field>
                      <mat-select
                        placeholder="Measurement"
                        ngModel
                        name="measurement"
                      >
                        <mat-option value="teaspoon(s)">teaspoon(s)</mat-option>
                        <mat-option value="tablespoon(s)">tablespoon(s)</mat-option>
                        <mat-option value="ounce(s)">ounce(s)</mat-option>
                        <mat-option value="pound(s)">pound(s)</mat-option>
                        <mat-option value="gram(s)">gram(s)</mat-option>
                        <mat-option value="cup(s)">cup(s)</mat-option>
                        <mat-option value="quart(s)">quart(s)</mat-option>
                        <mat-option value="liter(s)">liter(s)</mat-option>
                        <mat-option value=" "> </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <button
                  mat-stroked-button
                  type="button"
                  style="background-color: white"
                  (click)="onSave(f)"
                >
                  Save
                </button>
              </div>
            </div>
            <div *ngFor="let ingredient of ingredients; let i; in: index">
              <mat-card class="ingCard"
                >{{ ingredient.ingredientNames }} {{ ingredient.ingredientAmt + "" + ingredient.measurement}}
                <mat-icon style="cursor: pointer" (click)="removeIngredient(i)"
                  >delete</mat-icon
                >
              </mat-card>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <!-- card ingredient field end -->

      <!-- card recipe image field start -->
      <div class="imageURL center">
        <mat-form-field appearance="outline" style="width: 60vw">
          <mat-label>Image URL</mat-label>
          <input
            matInput
            placeholder="Image URL"
            ngModel
            name="imagePath"
            #imagePath
          />
          <div *ngIf="imagePath.value">
            <img
              [src]="imagePath.value"
              alt="recipe image"
              style="max-height: 60%; max-width: 60%"
            />
          </div>
        </mat-form-field>
      </div>
      <!-- card recipe image field end -->

      <!-- card recipe description start -->
      <div class="recipeDesc center">
        <mat-form-field appearance="outline" style="width: 60vw">
          <mat-label>Recipe description</mat-label>
          <textarea
            matInput
            placeholder="Description"
            ngModel
            name="description"
            #recpieDesc
          ></textarea>
        </mat-form-field>
      </div>
      <!-- card recipe description end -->
    </div>
    <!-- card content end -->
    <div class="buttons">
      <mat-divider></mat-divider>
      <button
        mat-raised-button
        color="primary"
        style="width: 20vw; margin-top: 2%"
      >
        Submit
      </button>
      <button
        type="button"
        mat-raised-button
        color="warn"
        style="width: 20vw; margin-top: 2%"
        (click)="onCancel(f)"
      >
        Cancel
      </button>
    </div>
  </mat-card>
</form>
<!-- New recipe card end -->
